@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,600&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Josefin+Sans&family=Raleway:ital,wght@1,300&display=swap');

/* sara start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.kvrlogo{
  border-radius: 50%;
}

.heading3 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .2px;
  font-weight: bolder;
  line-height: 2;
  font-size: 12px;
  word-spacing: 8px;
}

.heading4 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .2px;
  font-weight: 500;
  line-height: 2;
  font-size: 14px;
  word-spacing: 8px;
}


.heading5 {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .2px;
  /* font-weight: 500; */
  line-height: 2;
  font-size: 15px;
  word-spacing: 8px;
}

.heading6 {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .2px;
  font-weight: 500;
  line-height: 2;
  font-size: 17px;
  word-spacing: 8px;
}


.heading7 {
  font-family: 'Cinzel', serif;

  letter-spacing: .2px;
  font-weight: 600;
  line-height: 2;
  font-size: 20px;
  word-spacing: 8
}

.heading8 {
  font-family: 'Raleway', sans-serif;

  letter-spacing: .2px;
  font-weight: 600;
  line-height: 2;
  font-size: 18px;
  word-spacing: 8
}

.heading9 {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .2px;
  font-weight: 500;
  line-height: 1.4;
  font-size: 17px;
  word-spacing: 8px;
}

.tf-heading-style-02 .tf-heading-title:before,
.tf-heading-style-02 .tf-heading-title:after {
  content: "";
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom-color: #fd562a;
  ;
  position: absolute;
  top: 2.5px;
}

.tf-heading-style-02 .tf-heading-title {
  position: relative;
  display: inline-block;
  line-height: 1;
  /* font-size: 24px; */
  text-transform: uppercase;
  margin-bottom: 0;
  margin-left: 30px;
  margin-right: 30px;
}

.tf .tf-heading-style-02 .tf-heading-title:before {
  border-left-color: #fd562a;
  ;
  right: -30px;
}

.tf-heading-style-02 .tf-heading-title:before,
.tf-heading-style-02 .tf-heading-title:after {
  content: "";
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom-color: #fd562a;
  position: absolute;
  top: 2.5px;
  right: -30px;
}

.tf-heading-title {
  color: black;
  text-align: center;
}

.tficonbox {
  text-align: left;
  background-color: #FFFFFF;
  padding: 0px 32px 40px 36px;
  margin: 0px 25px 0px 0px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}



.custom-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  margin-bottom: 20px;
  justify-content: space-between;
}

.wrap-icon {
  background-color: #fd562a;

}

.btn1 button:hover {
  background-color: black;
}

.custom-card img {
  height: 40px;
  width: 40px;
  object-fit: contain;
  display: block;
  margin: auto;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #fd562a;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #fd562a;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
.navbar .nav-link{
  cursor: pointer;
}


/* sara end css */


/* jagan css start  */
.details-bg {
  background-image: url('./Assets/Images/bg-img-ram.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.details-heading {
  color: #fd562a;
}

.details-card-bg {
  background-color: #ffffff18;
}

.logo-img {
  width: 1000px;
}

.experience {
  background-color: #fd582a10;
}

.exp-card {
  background: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.exp-card:hover {
  color: #fff;
  background: rgb(253, 86, 42);
  background: linear-gradient(90deg, rgba(253, 86, 42, 1) 0%, rgba(235, 139, 87, 1) 100%) !important;
  transition: transform 0.3s ease-in;
  transform: scale(0.9);
}

.exp-card:hover * {
  color: #fff !important;
}

/* jagan css end */


/* lav css start */

.card.custom-card2 {
  border: none;

}

.custom-card2 {
  transition: transform 0.3s, box-shadow 0.3s;
  margin-bottom: 20px;
}


.card-li li {
  padding-top: 12px;
  font-family: 'Roboto', sans-serif;
}


.custom-card2:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgb(253 86 42)
}

/* lav css end */



/* diwa.css */
.nav-banner {
  background-image: url('./Assets/Images/bg-img-ram.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#name-nav {
  color: white;
}

#name-nav:hover {
  color: #fd562a;
}

.banner-head {
  font-size: 50px;
}

.banner-bts {
  border: none;
  height: 55px;
  width: 300px;
  color: white;
  background-color: #fd562a;
  border-radius: 10px;
}

.banner-bts:hover {
  background-color: #fd3903;
}

.head-icon {
  height: 35px;
}
.footer-icon{
  width: 45px;
}


.client.inner {
  display: flex;
  justify-content: center;
  margin: 0 25px;

}

.client .card-info {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  /* box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff; */
  width: 100%;
  height: 100%;
  padding: 20px;

}

.client .card-info .card-thumbnail {
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 27px;
  display: flex;
}

.client .card-thumbnail img {
  max-width: 100%;
  height: auto;
  transition: 0.4s;
  display: inline-block !important;
  object-fit: cover;
  width: 100%;

}

.subtitle span {
  color: #355C7B;
}

.client .inner .card-info .card-content .subtitle {
  font-size: 12px;

  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 22px;
}

.client.inner.card-info.card-content.title {
  color: black;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 0px;
  line-height: 34px;
}

.designation {
  color: black;
  font-size: 16px;
}

.user .card-description {
  /* background: linear-gradient(145deg, #e2e8ec, #ffffff); */
  /* box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff; */
  /* background: rgb(253,86,42); */
  background: linear-gradient(90deg, rgba(253,86,42,1) 0%, rgba(235,139,87,1) 100%);
}

.card-description {
  padding: 50px 40px 50px 40px;
  border-radius: 10px;

  width: 100%;
}

/* .user .title-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.user .title-info {
  text-align: left;
}

.user .title {
  color: black;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 10px;
}

.user .rating {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  /* box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff; */
  padding: 5px 10px;
  border-radius: 6px;
  display: inline-block;

}

.rating ul {
  display: flex;
  align-items: center;
}

.rating ul li {
  margin: 0;
  font-weight: 700;
  display: inline-block;
  position: relative;
  margin-top: -1px;
  margin-right: 4px;

}

.rating i {
  color: #FFAB1A;
}

.seperator {
  position: relative;
}

.seperator ::after {
  background: #d9dee2;
  height: 1px;
  content: "";
  position: absolute;
  width: 100%;
  top: 20px;
}

.carousel-indicators [data-bs-target] {
  height: 15px !important;
  border-radius: 50%;
  width: 15px !important;
}

.techcard {
  height: 300px !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /* background-color: rgb(232, 232, 232) !important; */
}

.md-img-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.icondiv {
  height: 100px;
}  

#home-nav{
  position: fixed;
  width: 100%;
  top: 0%;
  z-index: 98765;
}

/* diwa css end */